body {
  font-family: $open-sans;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

* a {
  text-decoration: none;
}

img {
  display: block;
}

:focus {outline:none;}

input {
  box-shadow: 0 0 0 #888;
  outline-color: transparent;
}

// Clearfix
%center {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

%clearfix::after {
  clear: both;
  content: '';
  display: table;
}
